<div class="main-container">
  <header class="d-flex flex-wrap justify-content-between py-3 mb-3">
    <div class="fs-4 main-title lexend-bold">Szűrés</div>
    <div class="sub-title text-decoration-underline lexend-medium">Szűrők törlése</div>
  </header>
  <hr class="mt-0 mb-2" />

  <!-- Main Section -->
  <div>
    <div class="fs-5 lexend-medium">Ország</div>
    <p class="lexend-light mt-2 mb-1">Szűrés ország szerint</p>
    <div class="row">
      <div class="col">
        <div class="btn-group w-100">
          <button type="button" class="btn border border-end-0 text-start lexend-regular">
            Magyarország
          </button>
          <button
            type="button"
            class="btn border border-start-0 dropdown-toggle dropdown-toggle-split text-end"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <!-- Régiók Start -->
  <div class="accordion mt-3">
    <div class="accordion-item p-2">
      <h2 class="accordion-header">
        <button
          class="accordion-button bg-transparent p-2"
          type="button"
          data-bs-toggle="collapse"
          aria-expanded="true"
        >
          <header class="d-flex flex-wrap justify-content-between w-100">
            <div class="fs-18px lexend-medium main-title">Régiók</div>
            <div class="sub-title fs-14px me-4 lexend-regular">2 opció kiválasztva</div>
          </header>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body ps-0 pe-0 pt-2 pb-0">
          <div class="row">
            <div
              class="col-12 col-md-6"
              *ngFor="let regionsData of regionsDatas"
            >
              <button
                type="button"
                class="btn element-bg-color w-100 text-start mb-2 rounded-3 checked"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  [checked]="regionsData.isSelected"
                  id="flexCheckDefault"
                />
                <span class="lexend-regular ms-2 text-truncate">{{
                  regionsData.name
                }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Régiók End -->

  <hr class="mb-0 mt-4" />
  <!-- Kategória Start -->
  <div class="card-section">
    <header class="d-flex flex-wrap justify-content-between py-3">
      <div class="fs-5 lexend-medium">Kategória</div>
    </header>

    <div class="col-12">
      <div class="row gy-4">
        <div
          *ngFor="let cardData of cardDatas"
          class="col-6 col-sm-4 col-md-3 col-lg-2"
        >
          <div
            class="card widget-card border"
            [class.border-black]="cardData.isSelected"
          >
            <div class="card-body p-2">
              <div class="row">
                <div class="col-12">
                  <h6 class="card-title widget-card-title lexend-regular m-0">
                    {{ cardData.name }}
                  </h6>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="d-flex justify-content-end">
                    <img [src]="cardData.image" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Kategória End -->

  <!-- Tagek Start -->
  <hr class="mb-0 mt-4" />
  <div class="tags-section">
    <header class="d-flex flex-wrap justify-content-between py-3">
      <div class="fs-5 lexend-medium">Tagek</div>
    </header>

    <div class="col-12">
      <div class="row gy-3">
        <div *ngFor="let tagsData of tagsDatas" class="col-auto">
          <button
            type="button"
            class="btn rounded-5 lexend-medium"
            [class.selected]="tagsData.isSelected"
          >
            <span class="fs-14px"> {{ tagsData.name }} </span>
            <img
              *ngIf="tagsData.isSelected"
              class="ms-2"
              src="../assets/dismiss.svg"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Tagek Start -->

  <!-- Helyszín Start -->
  <hr class="mb-0 mt-4" />
  <header class="d-flex flex-wrap justify-content-between py-3">
    <div class="fs-5 lexend-medium">Helyszín</div>
  </header>
  <div class="accordion switch-section">
    <div class="accordion-item p-2">
      <h2 class="accordion-header">
        <button
          class="accordion-button bg-transparent p-2 pb-3"
          type="button"
          data-bs-toggle="collapse"
          aria-expanded="true"
        >
          <header class="d-flex flex-wrap justify-content-between w-100">
            <div class="fs-18px lexend-medium main-title">Hely típusa</div>
          </header>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body ps-0 pe-0 pt-3 pb-0">
          <div class="row">
            <div class="col">
              <div
                *ngFor="let switchData of switchDatas"
                class="list-group mb-2"
              >
                <label
                  class="list-group-item form-switch border-0 element-bg-color lexend-regular"
                >
                  <img [src]="switchData.image" class="me-1" />
                  {{ switchData.name }}
                  <div class="float-end fs-14px">
                    Igen
                    <input
                      type="checkbox"
                      [checked]="switchData.isSelected"
                      class="form-check-input ms-3"
                    />
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Helyszín Start -->

  <!-- Stílus Start -->
  <div class="accordion mt-3">
    <div class="accordion-item p-2">
      <h2 class="accordion-header">
        <button
          class="accordion-button bg-transparent p-2"
          type="button"
          data-bs-toggle="collapse"
          aria-expanded="true"
        >
          <header class="d-flex flex-wrap justify-content-between w-100">
            <div class="fs-18px lexend-medium main-title">Stílus</div>
          </header>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body ps-0 pe-0 pt-2 pb-0">
          <div class="row">
            <div class="col">
              <button
                *ngFor="let value of ['Családias', 'Indie', 'Klasszikus']"
                type="button"
                class="btn element-bg-color w-100 text-start mb-2 rounded-3 checked"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <span class="lexend-regular ms-2 text-truncate">{{
                  value
                }}</span>
              </button>
            </div>
            <div class="col">
              <button
                *ngFor="let value of ['Luxus', 'Modern', 'Retro']"
                type="button"
                class="btn element-bg-color w-100 text-start mb-2 rounded-3"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <span class="lexend-regular ms-2 text-truncate">{{
                  value
                }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Stílus End -->

  <!-- Szolgáltatások Start -->
  <div class="accordion mt-3">
    <div class="accordion-item p-2">
      <h2 class="accordion-header">
        <button
          class="accordion-button bg-transparent p-2 collapsed"
          type="button"
          data-bs-toggle="collapse"
          aria-expanded="true"
        >
          <header class="d-flex flex-wrap justify-content-between w-100">
            <div class="fs-18px lexend-medium main-title">Szolgáltatások</div>
            <div class="fs-14px me-4 lexend-regular">0 opció kiválasztva</div>
          </header>
        </button>
      </h2>
    </div>
  </div>
  <!-- Szolgáltatások End -->

  <!-- Étel tartalma Start -->
  <hr class="mb-0 mt-4" />
  <header class="d-flex flex-wrap justify-content-between py-3">
    <div class="fs-5 lexend-medium">Borkóstoló tartalma</div>
  </header>
  <div class="accordion mt-2">
    <div class="accordion-item p-2">
      <h2 class="accordion-header">
        <button
          class="accordion-button bg-transparent p-2"
          type="button"
          data-bs-toggle="collapse"
          aria-expanded="true"
        >
          <header class="d-flex flex-wrap justify-content-between w-100">
            <div class="fs-18px lexend-medium main-title">Étel</div>
            <div class="sub-title fs-14px me-4 lexend-regular">2 opció kiválasztva</div>
          </header>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body ps-0 pe-0 pt-2 pb-0">
          <div class="row">
            <div class="col-12 col-md-6" *ngFor="let foodData of foodDatas">
              <button
                *ngIf="foodData.name"
                type="button"
                class="btn element-bg-color w-100 text-start mb-2 rounded-3 checked"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  [checked]="foodData.isSelected"
                  id="flexCheckDefault"
                />
                <span class="lexend-regular ms-2 text-truncate">{{
                  foodData.name
                }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Étel tartalma End -->

  <!-- Borkóstolás Start -->
  <div class="accordion mt-3">
    <div class="accordion-item p-2">
      <h2 class="accordion-header">
        <button
          class="accordion-button bg-transparent p-2 collapsed"
          type="button"
          data-bs-toggle="collapse"
          aria-expanded="true"
        >
          <header class="d-flex flex-wrap justify-content-between w-100">
            <div class="fs-18px lexend-medium main-title">Borkóstolás</div>
            <div class="fs-14px me-4 lexend-regular">0 opció kiválasztva</div>
          </header>
        </button>
      </h2>
    </div>
  </div>
  <!-- Borkóstolás End -->

  <!-- Élmény Start -->
  <div class="accordion mt-3">
    <div class="accordion-item p-2">
      <h2 class="accordion-header">
        <button
          class="accordion-button bg-transparent p-2 collapsed"
          type="button"
          data-bs-toggle="collapse"
          aria-expanded="true"
        >
          <header class="d-flex flex-wrap justify-content-between w-100">
            <div class="fs-18px lexend-medium main-title">Élmény</div>
            <div class="fs-14px me-4 lexend-regular">0 opció kiválasztva</div>
          </header>
        </button>
      </h2>
    </div>
  </div>
  <!-- Élmény End -->

  <!-- Egyéb Start -->
  <div class="accordion mt-3">
    <div class="accordion-item p-2">
      <h2 class="accordion-header">
        <button
          class="accordion-button bg-transparent p-2 collapsed"
          type="button"
          data-bs-toggle="collapse"
          aria-expanded="true"
        >
          <header class="d-flex flex-wrap justify-content-between w-100">
            <div class="fs-18px lexend-medium main-title">Egyéb</div>
            <div class="fs-14px me-4 lexend-regular">0 opció kiválasztva</div>
          </header>
        </button>
      </h2>
    </div>
  </div>
  <!-- Egyéb End -->

  <!-- Csoportméret Start -->
  <hr class="mb-0 mt-4" />
  <header class="d-flex flex-wrap justify-content-between py-3">
    <div class="fs-5 lexend-medium">Csoportméret</div>
  </header>
  <div class="row group-size-section">
    <div
      *ngFor="let groupSizeDate of groupSizeDates"
      class="col-sm-6 col-md-4 col-xxl-3"
    >
      <button
        type="button"
        class="btn element-bg-color text-start mb-2 rounded-3 checked w-100"
      >
        <input
          class="form-check-input"
          type="checkbox"
          [checked]="groupSizeDate.isSelected"
          id="flexCheckDefault"
        />
        <span class="lexend-regular ms-2 text-truncate">{{
          groupSizeDate.name
        }}</span>
      </button>
    </div>
  </div>
  <!-- Csoportméret End -->

  <!-- Értékelés Start -->
  <hr class="mb-0 mt-4" />
  <header class="d-flex flex-wrap justify-content-between py-3">
    <div class="fs-5 lexend-medium">Értékelés</div>
  </header>
  <div class="row evaluation-section">
    <div
      *ngFor="let evaluationDate of evaluationDates"
      class="col-sm-6 col-md col-xxl"
    >
      <button
        type="button"
        class="btn element-bg-color text-start mb-2 rounded-3 checked w-100"
      >
        <input
          class="form-check-input"
          type="checkbox"
          [checked]="evaluationDate.isSelected"
          id="flexCheckDefault"
        />
        <span class="lexend-regular ms-2 text-truncate">{{
          evaluationDate.name
        }}</span>
      </button>
    </div>
  </div>
  <!-- Értékelés End -->

  <div class="action-btn row mt-4 row-cols-md-4 gy-3">
    <div class="col-xl-3 col-md-4 col-sm-5">
      <button
        type="button"
        class="btn btn-outline-dark rounded-5 lexend-medium w-100 cancel-btn"
      >
        Mégsem
      </button>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-5">
      <button
        type="button"
        class="btn btn-outline-dark rounded-5 lexend-medium w-100 save-btn"
      >
        Szűrők mentése
      </button>
    </div>
  </div>
</div>
